<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Virtual Stand-up</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/etext/list">List</a></li>
                <li><a href="/etext/new">New eText</a></li>
                <li><a href="/etext/tasklist">Tasks' List</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="text-center">
        <h1>Echo Text items:</h1>
        <p class="lead">This is a list of the existing Echo Text items available. </p>
    </div>

    <div>
        <!--<h2>Latest Notes</h2>-->

        <br/>

        <div class="container">
            <div class="col-md-12 column list-group">
                {% for item in items %}
                <div class="list-group-item">
                    <div>Item created on: {{ item.createdOn.toDateString() }}</div>
                    <div><strong>Title: </strong> {{ item.eTitle }}</div>
                    <div><strong>SubTitle: </strong> {{ item.eSubTitle }}</div>
                    <div><strong>Order number: </strong> {{ item.eOrder }}</div>
                    <div><strong>Hint: </strong> {{ item.eHint }}</div>
                    <div><strong>Text: </strong>{{ item.eText }}</div>
                    <!-- Button -->

                    <fieldset>
                        <form class="form-horizontal" action="submit" method="post">
                            <div class="col-md-4 text-right">
                                <button id="btnSaveNote" name="btnSaveNote" value="{{ item._id.toString() }}"
                                        class="btn btn-primary" type="submit">Verify
                                </button>
                            </div>
                        </form>
                        <form class="form-horizontal" action="submit" method="post">
                            <div class="col-md-6 text-right">
                                <button id="btnEdit" name="btnEdit" value="{{ item._id.toString() }}"
                                        class="btn btn-primary" type="submit">Edit
                                </button>
                            </div>
                        </form>
                        <form class="form-horizontal" action="history" method="post">
                            <div class="col-md-1 text-right">
                                <button id="btnShowHistory" name="btnShowHistory" value="{{ item._id.toString() }}"
                                        class="btn btn-primary" type="submit">Show History
                                </button>
                            </div>
                        </form>
                    </fieldset>

                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div><!-- /.container -->
</body>
</html>